Bismillah

Loading Data

In [1]:
import pandas as pd
import numpy as np
import nltk

df = pd.read_excel("C:/Users/Mirtha/Downloads/Source Code Skripsi/User Story and User Story Scenario_Revisi 2 - Copy.xlsx")
df = df.fillna('')
df

,Nama Fitur,User Story,Scenario,Scenario.1,Scenario.2,Scenario.3,Scenario.4,Scenario.5,Scenario.6,Scenario.7,Scenario.8,Scenario.9,Scenario.10,Effort
0,Login,"In order to access curriculum data\nAs Admin,\...",Scenario: Login Successfully as Admin \nGiven ...,Scenario: Login Successfully as Curriculum Tea...,Scenario: Login Successfully as Lecturer \nGiv...,Scenario: Login Failed due to Incorrect NIP or...,,,,,,,,M
1,Logout,"In order to secure my session\nAs Admin,\nI wa...",Scenario: Log out Successfully \nGiven I am on...,,,,,,,,,,,S
2,Reset Password,In order to log in to the system in case I for...,Scenario: Password Reset Successfully\nGiven I...,Scenario: Password Reset Failed due to a misma...,,,,,,,,,,M
3,Change Password,"In order to secure my account\nAs Lecturer,\nI...",Scenario: Password Change Successfully\nGiven ...,Scenario: Password Change Failed due to a mism...,Scenario: Password Change Failed due to incorr...,,,,,,,,,S
4,Create Program Outcomes,In order to establish Program Outcomes\nAs Cur...,Scenario: Create Program Outcomes Successfully...,Scenario: Create Program Outcomes Failed as th...,Scenario: Create Program Outcomes Failed Due t...,,,,,,,,,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Update user story,"In order to improve user story\nAs User,\nI wa...",Scenario: Update user story successfully\nGive...,Scenario: Update user story failed due to empt...,,,,,,,,,,S
166,Create user story scenario,In order to establish detailed user story \nAs...,Scenario: Create user story scenario successfu...,Scenario: Create user story scenario failed du...,,,,,,,,,,XXL
167,Update user story scenario,In order to improve detailed user story \nAs U...,Scenario: Update user story scenario successfu...,Scenario: Update user story scenario failed du...,,,,,,,,,,S
168,Read user story History,In order to review the relevant user story\nAs...,Scenario: Read user story History Successfully...,Scenario: Read user story history failed due t...,,,,,,,,,,S
169,Delete user story History,In order to remove irrelevant user story\nAs C...,Scenario: Delete user story History Successful...,,,,,,,,,,,XL

Menggabungkan Data

In [2]:
# Menggabungkan data setiap kolom
df['combined'] = df.iloc[:, :13].apply(lambda x: '\n'.join(x), axis=1)

# Menampilkan hasil gabungan setiap kolom
print(df.loc[0, 'combined'])

Login
In order to access curriculum data
As Admin,
I want to log in to the system
Scenario: Login Successfully as Admin
Given I am on “http://127.0.0.1:8000/login”
When I fill in “NIP” with “32525252523”
And I fill in “Password” with “coba123”
And I press “Login”
Then the url should match “http://127.0.0.1:8000/dashboard/admin”
And the “Lecturer Name” field should contain “Admin”
Scenario: Login Successfully as Curriculum Team Member
Given I am on “http://127.0.0.1:8000/login”
When I fill in “NIP” with “197801262006041001”
And I fill in “Password” with “coba123”
And I press “Login”
Then the url should match “http://127.0.0.1:8000/dashboard/curriculum”
And the “Lecturer Name” field should contain “Badrus Zaman, S.Kom., M.Cs.”
Scenario: Login Successfully as Lecturer
Given I am on “http://127.0.0.1:8000/login”
When I fill in “NIP” with “198110282006041003”
And I fill in “Password” with “coba123”
And I press “Login”
Then the url should match “http://127.0.0.1:8000/dashboard/lecturer”
And the “Lecturer Name” field should contain “Indra Kharisma R, S.Kom., M.T.”
Scenario: Login Failed due to Incorrect NIP or Password
Given I am on “http://127.0.0.1:8000/login”
When I fill in “NIP” with “198110282006041003”
And I fill in “Password” with “coba1234”
And I press “Login”
Then the response should contain “Incorrect NIP or Password”

Numeric Feature Extraction

In [3]:
# Menghitung jumlah token dan skenario
df['combined'] = df['combined'].str.lower()
df['number_word'] = df['combined'].apply(lambda x: len(x.split()))
df['number_scenario'] = df['combined'].apply(lambda x: x.count("scenario:"))
print(df['number_word'])
print(df['number_scenario'])

# Normalisasi
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
print("Hasil normalisasi")
df[['number_word', 'number_scenario']] = scaler.fit_transform(df[['number_word', 'number_scenario']])
df[['number_word', 'number_scenario']]

0      193
1       37
2      277
3      218
4      310
      ...
165    290
166    358
167    452
168    125
169     71
Name: number_word, Length: 170, dtype: int64
0      4
1      1
2      2
3      3
4      3
      ..
165    2
166    2
167    2
168    2
169    1
Name: number_scenario, Length: 170, dtype: int64
Hasil normalisasi

     number_word  number_scenario
0       0.083781              0.3
1       0.000000              0.0
2       0.128894              0.1
3       0.097207              0.2
4       0.146617              0.2
..           ...              ...
165     0.135875              0.1
166     0.172395              0.1
167     0.222879              0.1
168     0.047261              0.1
169     0.018260              0.0

[170 rows x 2 columns]

Text Feature Extraction

In [5]:
# Text Preprocessing

# Case folding
print("Hasil case folding")
df['combined'] = df['combined'].str.lower()
print(df['combined'])

# Pembersihan teks dari tanda baca
import string
def remove_punctuation(text):
    punctuation_to_replace = string.punctuation + "‘’“”"
    translation_table = str.maketrans(punctuation_to_replace, ' ' * len(punctuation_to_replace))
    cleaned_text = text.translate(translation_table)
    return cleaned_text

df['combined'] = df['combined'].apply(remove_punctuation)
print("Hasil pembersihan teks dari tanda baca")
print(df.loc[0, 'combined'])

# Tokenisasi
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

df['combined'] = df['combined'].apply(lambda x: word_tokenize(x))
print("Hasil tokenisasi")
print(df['combined'])

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

# Stopword removal
stop_words = set(stopwords.words('english'))
def remove_stopwords(tokens):
    return [token for token in tokens if token.lower() not in stop_words]

df['combined'] = df['combined'].apply(remove_stopwords)
print("Hasil stopword removal")
print(df['combined'])

# Lematisasi
lemmatizer = WordNetLemmatizer()
def lemmatize_tokens(tokens):
    return [lemmatizer.lemmatize(token) for token in tokens]

df['combined'] = df['combined'].apply(lemmatize_tokens)
print("Hasil lematisasi")
df['combined']

Hasil case folding
0      login\nin order to access curriculum data\nas ...
1      logout\nin order to secure my session\nas admi...
2      reset password\nin order to log in to the syst...
3      change password\nin order to secure my account...
4      create program outcomes\nin order to establish...
                             ...
165    update user story\nin order to improve user st...
166    create user story scenario\nin order to establ...
167    update user story scenario\nin order to improv...
168    read user story history\nin order to review th...
169    delete user story history\nin order to remove ...
Name: combined, Length: 170, dtype: object

Hasil pembersihan teks dari tanda baca
login
in order to access curriculum data
as admin
i want to log in to the system
scenario  login successfully as admin
given i am on  http   127 0 0 1 8000 login
when i fill in  nip  with  32525252523
and i fill in  password  with  coba123
and i press  login
then the url should match  http   127 0 0 1 8000 dashboard admin
and the  lecturer name  field should contain  admin
scenario  login successfully as curriculum team member
given i am on  http   127 0 0 1 8000 login
when i fill in  nip  with  197801262006041001
and i fill in  password  with  coba123
and i press  login
then the url should match  http   127 0 0 1 8000 dashboard curriculum
and the  lecturer name  field should contain  badrus zaman  s kom   m cs
scenario  login successfully as lecturer
given i am on  http   127 0 0 1 8000 login
when i fill in  nip  with  198110282006041003
and i fill in  password  with  coba123
and i press  login
then the url should match  http   127 0 0 1 8000 dashboard lecturer
and the  lecturer name  field should contain  indra kharisma r  s kom   m t
scenario  login failed due to incorrect nip or password
given i am on  http   127 0 0 1 8000 login
when i fill in  nip  with  198110282006041003
and i fill in  password  with  coba1234
and i press  login
then the response should contain  incorrect nip or password







Hasil tokenisasi
0      [login, in, order, to, access, curriculum, dat...
1      [logout, in, order, to, secure, my, session, a...
2      [reset, password, in, order, to, log, in, to, ...
3      [change, password, in, order, to, secure, my, ...
4      [create, program, outcomes, in, order, to, est...
                             ...
165    [update, user, story, in, order, to, improve, ...
166    [create, user, story, scenario, in, order, to,...
167    [update, user, story, scenario, in, order, to,...
168    [read, user, story, history, in, order, to, re...
169    [delete, user, story, history, in, order, to, ...
Name: combined, Length: 170, dtype: object

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Mirtha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Mirtha\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Mirtha\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

Hasil stopword removal
0      [login, order, access, curriculum, data, admin...
1      [logout, order, secure, session, admin, want, ...
2      [reset, password, order, log, system, case, fo...
3      [change, password, order, secure, account, lec...
4      [create, program, outcomes, order, establish, ...
                             ...
165    [update, user, story, order, improve, user, st...
166    [create, user, story, scenario, order, establi...
167    [update, user, story, scenario, order, improve...
168    [read, user, story, history, order, review, re...
169    [delete, user, story, history, order, remove, ...
Name: combined, Length: 170, dtype: object
Hasil lematisasi

0      [login, order, access, curriculum, data, admin...
1      [logout, order, secure, session, admin, want, ...
2      [reset, password, order, log, system, case, fo...
3      [change, password, order, secure, account, lec...
4      [create, program, outcome, order, establish, p...
                             ...
165    [update, user, story, order, improve, user, st...
166    [create, user, story, scenario, order, establi...
167    [update, user, story, scenario, order, improve...
168    [read, user, story, history, order, review, re...
169    [delete, user, story, history, order, remove, ...
Name: combined, Length: 170, dtype: object

In [6]:
# TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer

# Mengembalikan ke bentuk string
df['combined'] = df['combined'].apply(lambda x: ' '.join(x))

tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(df['combined'])

tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf_vectorizer.get_feature_names_out())
tfidf_df

,04,100,105,127,15,197101042008121001,197102111997021001,197801262006041001,198105082005012001,198110282006041003,...,within,wlfv,workshop,world,wth,x0002,xlsx,yamamaru,year,zaman
0,0.0,0.0,0.0,0.121960,0.0,0.0,0.0,0.094929,0.0,0.109622,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.094929
1,0.0,0.0,0.0,0.139307,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2,0.0,0.0,0.0,0.078757,0.0,0.0,0.0,0.000000,0.0,0.055059,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
3,0.0,0.0,0.0,0.057714,0.0,0.0,0.0,0.000000,0.0,0.090781,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4,0.0,0.0,0.0,0.024096,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,0.0,0.0,0.0,0.031010,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.087069,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
166,0.0,0.0,0.0,0.048054,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.051401,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
167,0.0,0.0,0.0,0.045787,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.042854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
168,0.0,0.0,0.0,0.053815,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
169,0.0,0.0,0.0,0.056973,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

Data Integration

In [7]:
# Concatenate 'effort' column of the original DataFrame with TF-IDF DataFrame
integrated_data = pd.concat([tfidf_df, df[['number_word', 'number_scenario', 'Effort']]], axis=1)
integrated_data

,04,100,105,127,15,197101042008121001,197102111997021001,197801262006041001,198105082005012001,198110282006041003,...,world,wth,x0002,xlsx,yamamaru,year,zaman,number_word,number_scenario,Effort
0,0.0,0.0,0.0,0.121960,0.0,0.0,0.0,0.094929,0.0,0.109622,...,0.0,0.0,0.0,0.0,0.0,0.0,0.094929,0.083781,0.3,M
1,0.0,0.0,0.0,0.139307,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,S
2,0.0,0.0,0.0,0.078757,0.0,0.0,0.0,0.000000,0.0,0.055059,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.128894,0.1,M
3,0.0,0.0,0.0,0.057714,0.0,0.0,0.0,0.000000,0.0,0.090781,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.097207,0.2,S
4,0.0,0.0,0.0,0.024096,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.146617,0.2,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,0.0,0.0,0.0,0.031010,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.135875,0.1,S
166,0.0,0.0,0.0,0.048054,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.172395,0.1,XXL
167,0.0,0.0,0.0,0.045787,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.222879,0.1,S
168,0.0,0.0,0.0,0.053815,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.047261,0.1,S
169,0.0,0.0,0.0,0.056973,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.018260,0.0,XL

Model (Text)

In [8]:
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.multioutput import MultiOutputClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import make_scorer
from sklearn.metrics import accuracy_score


# Data teks dan effort
X = tfidf_df
y = df["Effort"].to_numpy()

# One-hot encode the target variable
enc = OneHotEncoder(sparse=False)
y_encoded = enc.fit_transform(y.reshape(-1, 1)) 

# Adaboost
clf = MultiOutputClassifier(AdaBoostClassifier(random_state=42))
scorer = make_scorer(accuracy_score) # Menggunakan akurasi untuk scoring
cv_scores = cross_val_score(clf, X, y_encoded, cv=5, scoring=scorer) # Perform 5-fold cross validation

# Akurasi Adaboost
print("Cross-validation scores dari Adaboost:", cv_scores)
print("Mean Cross-validation score dari Adaboost:", np.mean(cv_scores))

# Decision Tree
clf = DecisionTreeClassifier(random_state=42)
cv_scores = cross_val_score(clf, X, y_encoded, cv=5, scoring=scorer) # Perform 5-fold cross validation

# Akurasi Decision Tree
print("Cross-validation scores dari Decision Tree:", cv_scores)
print("Mean Cross-validation score dari Decision Tree:", np.mean(cv_scores))


# Multinomial Naive Bayes
clf = MultinomialNB()
cv_scores = cross_val_score(clf, X, np.argmax(y_encoded, axis=1), cv=5, scoring=scorer)# Perform 5-fold cross validation

# Akurasi Multinomial Naive Bayes
print("Cross-validation scores dari Multinomial Naive Bayes:", cv_scores)
print("Mean Cross-validation score dari Multinomial Naive Bayes:", np.mean(cv_scores))

# Adaboost
clf = MultiOutputClassifier(AdaBoostClassifier(random_state=42))
scorer = make_scorer(accuracy_score) # Menggunakan akurasi untuk scoring
cv_scores = cross_val_score(clf, X, y_encoded, cv=10, scoring=scorer) # Perform 10-fold cross validation

# Akurasi Adaboost
print("Cross-validation scores dari Adaboost:", cv_scores)
print("Mean Cross-validation score dari Adaboost:", np.mean(cv_scores))

# Decision Tree
clf = DecisionTreeClassifier(random_state=42)
cv_scores = cross_val_score(clf, X, y_encoded, cv=10, scoring=scorer) # Perform 10-fold cross validation

# Akurasi Decision Tree
print("Cross-validation scores dari Decision Tree:", cv_scores)
print("Mean Cross-validation score dari Decision Tree:", np.mean(cv_scores))


# Multinomial Naive Bayes
clf = MultinomialNB()
cv_scores = cross_val_score(clf, X, np.argmax(y_encoded, axis=1), cv=10, scoring=scorer)# Perform 10-fold cross validation

# Akurasi Multinomial Naive Bayes
print("Cross-validation scores dari Multinomial Naive Bayes:", cv_scores)
print("Mean Cross-validation score dari Multinomial Naive Bayes:", np.mean(cv_scores))

c:\Users\Mirtha\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Cross-validation scores dari Adaboost: [0.67647059 0.47058824 0.47058824 0.55882353 0.55882353]
Mean Cross-validation score dari Adaboost: 0.5470588235294118
Cross-validation scores dari Decision Tree: [0.82352941 0.61764706 0.58823529 0.47058824 0.58823529]
Mean Cross-validation score dari Decision Tree: 0.6176470588235294
Cross-validation scores dari Multinomial Naive Bayes: [0.38235294 0.5        0.55882353 0.61764706 0.47058824]
Mean Cross-validation score dari Multinomial Naive Bayes: 0.5058823529411764
Cross-validation scores dari Adaboost: [0.64705882 0.52941176 0.23529412 0.47058824 0.29411765 0.70588235
 0.58823529 0.64705882 0.76470588 0.52941176]
Mean Cross-validation score dari Adaboost: 0.5411764705882353
Cross-validation scores dari Decision Tree: [0.70588235 0.82352941 0.82352941 0.47058824 0.35294118 0.76470588
 0.35294118 0.64705882 0.82352941 0.70588235]
Mean Cross-validation score dari Decision Tree: 0.6470588235294118

c:\Users\Mirtha\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 7 members, which is less than n_splits=10.
  warnings.warn(

Cross-validation scores dari Multinomial Naive Bayes: [0.35294118 0.41176471 0.82352941 0.64705882 0.58823529 0.64705882
 0.82352941 0.76470588 0.52941176 0.47058824]
Mean Cross-validation score dari Multinomial Naive Bayes: 0.6058823529411764

Model (Numerik)

In [9]:
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.multioutput import MultiOutputClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import make_scorer
from sklearn.metrics import accuracy_score


# Data teks dan effort
X = df[['number_word', 'number_scenario']]

# Adaboost
clf = MultiOutputClassifier(AdaBoostClassifier(random_state=42))
cv_scores = cross_val_score(clf, X, y_encoded, cv=5, scoring=scorer) # Perform 5-fold cross validation

# Akurasi Adaboost
print("Cross-validation scores dari Adaboost:", cv_scores)
print("Mean Cross-validation score dari Adaboost:", np.mean(cv_scores))

# Decision Tree
clf = DecisionTreeClassifier(random_state=42)
cv_scores = cross_val_score(clf, X, y_encoded, cv=5, scoring=scorer) # Perform 5-fold cross validation

# Akurasi Decision Tree
print("Cross-validation scores dari Decision Tree:", cv_scores)
print("Mean Cross-validation score dari Decision Tree:", np.mean(cv_scores))


# Multinomial Naive Bayes
clf = MultinomialNB()
cv_scores = cross_val_score(clf, X, np.argmax(y_encoded, axis=1), cv=5, scoring=scorer)# Perform 5-fold cross validation

# Akurasi Multinomial Naive Bayes
print("Cross-validation scores dari Multinomial Naive Bayes:", cv_scores)
print("Mean Cross-validation score dari Multinomial Naive Bayes:", np.mean(cv_scores))

# Adaboost
clf = MultiOutputClassifier(AdaBoostClassifier(random_state=42))
scorer = make_scorer(accuracy_score) # Menggunakan akurasi untuk scoring
cv_scores = cross_val_score(clf, X, y_encoded, cv=10, scoring=scorer) # Perform 10-fold cross validation

# Akurasi Adaboost
print("Cross-validation scores dari Adaboost:", cv_scores)
print("Mean Cross-validation score dari Adaboost:", np.mean(cv_scores))

# Decision Tree
clf = DecisionTreeClassifier(random_state=42)
cv_scores = cross_val_score(clf, X, y_encoded, cv=10, scoring=scorer) # Perform 10-fold cross validation

# Akurasi Decision Tree
print("Cross-validation scores dari Decision Tree:", cv_scores)
print("Mean Cross-validation score dari Decision Tree:", np.mean(cv_scores))


# Multinomial Naive Bayes
clf = MultinomialNB()
cv_scores = cross_val_score(clf, X, np.argmax(y_encoded, axis=1), cv=10, scoring=scorer)# Perform 10-fold cross validation

# Akurasi Multinomial Naive Bayes
print("Cross-validation scores dari Multinomial Naive Bayes:", cv_scores)
print("Mean Cross-validation score dari Multinomial Naive Bayes:", np.mean(cv_scores))

Cross-validation scores dari Adaboost: [0.47058824 0.32352941 0.41176471 0.52941176 0.55882353]
Mean Cross-validation score dari Adaboost: 0.4588235294117647
Cross-validation scores dari Decision Tree: [0.41176471 0.29411765 0.41176471 0.52941176 0.58823529]
Mean Cross-validation score dari Decision Tree: 0.4470588235294118
Cross-validation scores dari Multinomial Naive Bayes: [0.5        0.5        0.5        0.5        0.47058824]
Mean Cross-validation score dari Multinomial Naive Bayes: 0.49411764705882355
Cross-validation scores dari Adaboost: [0.47058824 0.52941176 0.23529412 0.41176471 0.41176471 0.41176471
 0.41176471 0.76470588 0.82352941 0.47058824]
Mean Cross-validation score dari Adaboost: 0.49411764705882344
Cross-validation scores dari Decision Tree: [0.58823529 0.70588235 0.35294118 0.23529412 0.35294118 0.41176471
 0.41176471 0.76470588 0.70588235 0.47058824]
Mean Cross-validation score dari Decision Tree: 0.5

c:\Users\Mirtha\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 7 members, which is less than n_splits=10.
  warnings.warn(

Cross-validation scores dari Multinomial Naive Bayes: [0.47058824 0.47058824 0.47058824 0.47058824 0.47058824 0.52941176
 0.52941176 0.52941176 0.52941176 0.47058824]
Mean Cross-validation score dari Multinomial Naive Bayes: 0.49411764705882355

Model (Numerik + Text)

In [10]:
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.multioutput import MultiOutputClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import make_scorer
from sklearn.metrics import accuracy_score


# Data teks dan effort
X = integrated_data.drop(columns=['Effort'])

# Adaboost
clf = MultiOutputClassifier(AdaBoostClassifier(random_state=42))
cv_scores = cross_val_score(clf, X, y_encoded, cv=5, scoring=scorer) # Perform 5-fold cross validation

# Akurasi Adaboost
print("Cross-validation scores dari Adaboost:", cv_scores)
print("Mean Cross-validation score dari Adaboost:", np.mean(cv_scores))

# Decision Tree
clf = DecisionTreeClassifier(random_state=42)
cv_scores = cross_val_score(clf, X, y_encoded, cv=5, scoring=scorer) # Perform 5-fold cross validation

# Akurasi Decision Tree
print("Cross-validation scores dari Decision Tree:", cv_scores)
print("Mean Cross-validation score dari Decision Tree:", np.mean(cv_scores))


# Multinomial Naive Bayes
clf = MultinomialNB()
cv_scores = cross_val_score(clf, X, np.argmax(y_encoded, axis=1), cv=5, scoring=scorer)# Perform 5-fold cross validation

# Akurasi Multinomial Naive Bayes
print("Cross-validation scores dari Multinomial Naive Bayes:", cv_scores)
print("Mean Cross-validation score dari Multinomial Naive Bayes:", np.mean(cv_scores))

# Adaboost
clf = MultiOutputClassifier(AdaBoostClassifier(random_state=42))
scorer = make_scorer(accuracy_score) # Menggunakan akurasi untuk scoring
cv_scores = cross_val_score(clf, X, y_encoded, cv=10, scoring=scorer) # Perform 10-fold cross validation

# Akurasi Adaboost
print("Cross-validation scores dari Adaboost:", cv_scores)
print("Mean Cross-validation score dari Adaboost:", np.mean(cv_scores))

# Decision Tree
clf = DecisionTreeClassifier(random_state=42)
cv_scores = cross_val_score(clf, X, y_encoded, cv=10, scoring=scorer) # Perform 10-fold cross validation

# Akurasi Decision Tree
print("Cross-validation scores dari Decision Tree:", cv_scores)
print("Mean Cross-validation score dari Decision Tree:", np.mean(cv_scores))


# Multinomial Naive Bayes
clf = MultinomialNB()
cv_scores = cross_val_score(clf, X, np.argmax(y_encoded, axis=1), cv=10, scoring=scorer)# Perform 10-fold cross validation

# Akurasi Multinomial Naive Bayes
print("Cross-validation scores dari Multinomial Naive Bayes:", cv_scores)
print("Mean Cross-validation score dari Multinomial Naive Bayes:", np.mean(cv_scores))

Cross-validation scores dari Adaboost: [0.67647059 0.38235294 0.44117647 0.61764706 0.52941176]
Mean Cross-validation score dari Adaboost: 0.5294117647058824
Cross-validation scores dari Decision Tree: [0.82352941 0.61764706 0.58823529 0.64705882 0.58823529]
Mean Cross-validation score dari Decision Tree: 0.6529411764705882
Cross-validation scores dari Multinomial Naive Bayes: [0.38235294 0.52941176 0.55882353 0.64705882 0.47058824]
Mean Cross-validation score dari Multinomial Naive Bayes: 0.5176470588235295
Cross-validation scores dari Adaboost: [0.70588235 0.58823529 0.29411765 0.41176471 0.29411765 0.70588235
 0.41176471 0.64705882 0.70588235 0.41176471]
Mean Cross-validation score dari Adaboost: 0.5176470588235295
Cross-validation scores dari Decision Tree: [0.64705882 0.82352941 0.76470588 0.47058824 0.52941176 0.70588235
 0.35294118 0.64705882 0.82352941 0.58823529]
Mean Cross-validation score dari Decision Tree: 0.6352941176470588

c:\Users\Mirtha\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 7 members, which is less than n_splits=10.
  warnings.warn(

Cross-validation scores dari Multinomial Naive Bayes: [0.35294118 0.41176471 0.82352941 0.64705882 0.58823529 0.64705882
 0.82352941 0.76470588 0.52941176 0.47058824]
Mean Cross-validation score dari Multinomial Naive Bayes: 0.6058823529411764